<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../../includes/project-header.ejs') %>
</head>
<body>
    <%- include('../../../includes/project-nav.ejs') %>
    <div class="container">
        <% if (artists.length > 0) { %>
            <div>
                <% for (let artist of artists) { %>
                    <article>
                        <header>
                            <h1><%= artist.name %></h1>
                        </header>
                        <div>
                            <img src="<%= artist.imageUrl %>"
                                 alt="<%= artist.name %>"
                                 style="width:500px;">
                        </div><br>
                        <div>
                            <a href="/project/admin/edit-artist/<%= artist._id %>?edit=true" class="btn">Edit</a>
                            <form action="/project/admin/delete-artist" method="POST">
                                <br><input type="hidden" value="<%= artist._id %>" name="artistId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Artists Found!</h1>
        <% } %>
    </div>
</body>
</html>