<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../../includes/project-header.ejs') %>
</head>
<body>
    <%- include('../../../includes/project-nav.ejs') %>
    <div class="container">
        <article>
            <header>
                <h1><%= artist.name %></h1>
            </header>
            <div>
                <img src="<%= artist.imageUrl %>"
                     alt="<%= artist.name %>"
                     style="width:500px;">
            </div><br>
            <div>
                <h3>Genre: <%= artist.genre %></h3>
                <p><%= artist.description %></p>
                <% if (isAuthenticated) { %>
                    <form action="/project/cart" method="post">
                        <button class="btn" type="submit">Add to Cart</button>
                        <input type="hidden" name="artistId" value="<%= artist._id %>">
                    </form>
                <% } %>
            </div>
        </article>
    </div>
</body>
</html>