<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../../includes/project-header.ejs') %>
</head>
<body>
    <%- include('../../../includes/project-nav.ejs') %>
    <main>
        <% if (artists.length > 0) { %>
            <ul>
                <% artists.forEach(a => { %>
                    <li class="cart__item">
                        <h1><%= a.artistId.name %></h1>
                        <h2>Quantity: <%= a.quantity %></h2>
                        <form action="/project/cart/delete-artist" method="POST">
                            <input type="hidden" value="<%= a.artistId._id %>" name="artistId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
</body>
</html>