<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= path === '/artists' ? 'active' : ''%>">
          <a href="/project"> Artists </a>
        </li>
        <% if (isAuthenticated) { %>
        <li class="<%= path === '/cart' ? 'active' : ''%>">
          <a href="/project/cart"> Cart </a>
        </li>
        <% } %>
        <% if (isAuthenticated) { %>
          <li class="<%= path === '/orders' ? 'active' : ''%>">
            <a href="/project/orders"> Orders </a>
          </li>
          <% } %>
        <% if (isAuthenticated) { %>
        <li class="<%= path === '/admin/add-artist' ? 'active' : ''%>">
          <a href="/project/admin/add-artist"> Add Artist </a>
        </li>
        <% } %>
        <% if (isAuthenticated) { %>
        <li class="<%= path === '/admin' ? 'active' : ''%>">
          <a href="/project/admin"> Admin </a>
        </li>
        <% } %>
        <% if (!isAuthenticated) { %>
          <li class="<%= path === '/login' ? 'active' : '' %>">
              <a href="/project/login">Login</a>
          </li>
          <li class="<%= path === '/signup' ? 'active' : '' %>">
              <a href="/project/signup">Signup</a>
          </li>
        <% } else { %>
          <li class="<%= path === '/logout' ? 'active' : ''%>">
            <a href="/project/logout"> Logout </a>
          </li>
        <% } %>
      </ul>
    </div>
</nav>
  